:root {
    --rosa-1:  #FF577F;
    --rosa-2:  #FF427F;
  
    --roxo:  #59323F;
  
    --cinza-1:  #121214;
    --cinza-2:  #212529;
    --cinza-3:  #343B41;
    --cinza-4:  #868E96;
    --cinza-5:  #F8F9FA;
  
    --vermelho: #E83F5B;
    --amarelo:  #FFCD07;
    --verde-3:  #3FE864;
    --azul:     #155BCB;

}